<body>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="authentication">
<form id="loginForm" action="" method="post">
{{message}}
</form>
</div>
<div>
{{#if user}}
	<button id='loginButton' style=display:none >Sign In</button>
	<button id='registerButton' style=display:none >Sign Up</button>
{{else}}
	<button id='loginButton' >Log In</button>
	<button id='registerButton' >Register</button>
{{/if}}
</div>
<script src="/javascripts/authentication.js"></script>
</body>

