<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
  <div class='nav'>
    <ul>
      <li><a href="/index">No More Hangry</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/signin">Sign In</a></li>
      <!-- should appear only when signed in and remove sign in link.
      this will be done client side-->
      <!--if user
      <li><a href="/user">{{user.username}}</a></li>
      /if-->
    </ul>
  </div>
    
    {{{body}}}
  
  </body>
</html>
