<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
  <div class='nav'>
    <ul>
      <li><a href="/">No More Hangry</a></li>
      <li><a href="/about">About</a></li>
      <!-- should appear only when signed in and remove sign in link.
      this will be done client side-->
      {{#if user}}
      <li><a href="/user">{{user.name}}</a></li>
      <li><a href="/logout">Log Out</a><li>
      {{else}}
      <li><a href="/">Login In or Register</a></li>
      {{/if}}
    </ul>
  </div>
    
    {{{body}}}
  
  </body>
</html>
