<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='stylesheets/bootstrap-theme.css' />
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <header class ="header">
    <h1 class="main-header">No More Hangry</h1>
    <h1 class="main-header">＼＼\٩(๑`^´๑)۶//／／</h1>
    <ul class="header-subnav">
      <li><a href="/food">Home</a></li>
      <li><a href="/about">About</a></li>
      {{#if user}}
        <li><a href="/user">{{user.name}}</a></li>
        <li><a href="/logout">Log Out</a><li>
      {{else}}
        <li><a href="/">Log In</a></li>
      {{/if}}  
    </ul>
  </header>
  </body>

    {{{body}}}
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!--<script src="javascripts/bootstrap.min.js"></script>-->
  </body>
</html>
